body {
    color: #4B3832;
    background-color:#FFF4E6;
}
a {color:#BE9B7B;}
nav {
    background-color:#c3a47c;
    padding: 10px;
    margin-bottom: 30px;
}
nav a {
    color: #854442;
    text-decoration: none;
}
nav a:hover {
    background-color: #102f679e;}
.evenrow {
    background-color: #d5e9f2;
}