body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    color: #4B3832;
    background-color:#FFF4E6;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

a {color: #854442;}  


a:hover {text-decoration: underline;}

header {
    text-align: center;
    padding: 20px 10px 10px;
    border-bottom: 2px solid #c3a47c;
}

h1 {
    margin: 0;
}

nav {
    background-color: #854442;
    padding: 10px;
    margin-bottom: 30px;
}

nav a {
    color: #FFF4E6;
    text-decoration: none;
    margin: 0 8px;
    padding: 4px 8px;
    border-radius: 4px;
}

nav a:hover {
    background-color: #102f67;
    color: #fff4e6
}

main {
    max-width: 950px;
    margin: 0 auto;
    padding: 20px 15px 40px;
}

h2 {
    margin-top: 20px;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 10px;
    border-radius: 6px;
}

.influencer-img {
    width: 350px;
    max-width: 350px;
    height: auto;
    border-radius: 6px;
    display: block;
    margin-bottom: 10px;
}

.features {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.features ul {
    list-style-type: disc;
    padding-left: 18px;
}

footer {
    background-color: #4B3832;
    color: #ffffff;
    text-align: center;
    padding: 15px 10px;
    font-size: 0.9rem;
    margin-top: 30px;
}

footer p {
    margin: 4px 0;
}

@media (max-width: 700px) {
    article {
        flex-direction: column;
        text-align: center;
    }

    article img {
        margin: 0 auto;
        width: 80%;
    }

    nav {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    nav a {
        display: block;
        margin: 3px 0;
    }

    nav span {
        display: none;
    }

    main {
        padding: 15px 10px 30px;
    }
}

